<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @risk.title %>
</p>

<p>
  <b>Description:</b>
  <%= @risk.description %>
</p>

<p>
  <b>Impacts:</b>
  <%= @risk.impacts %>
</p>


<%= link_to 'Edit', edit_risk_path(@risk) %> |
<%= link_to 'Back', risks_path %>
